* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html, body {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#202830;
  color:#ffffff;
  display:grid;
  justify-content:center;

}

.game {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}


/* dino animation, lower px, closer to upper corner */
@keyframes jump {
  /* min */
  0% {
    top: 150px;
  }

  25% {
    top: 130px;
  }
  /* max height */
  50% {
    top: 80px;
  }

  75% {
    top: 130px;
  }
  /* min */
  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

/* cactus animation */
@keyframes block {
  0% {
    left: 780px;
  }

  100% {
    left: -20px;
  }
}