* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html, body {

  height:50%;
  width:50%;

}

body {

  align-content:space-around;
  background-color:#202830;
  color:#ffffff;
  display:grid;
  justify-content:center;

}